* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-direction: column;
  width: 100%;
  min-height: 700px;
  background: rgb(21, 87, 102);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono", monospace;
  padding: 40px;
}

.card-outer {
  width: 80%;
  min-height: 620px;
  background: rgb(17, 55, 82);
  padding: 36px 32px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}


.badge {
  align-self: center;
  border: 1px solid rgb(65, 66, 133);
  background: rgb(59, 39, 71);
  color: rgba(200, 190, 220, 0.9);
  font-size: 60px;
  padding: 3px 10px;
  font-family: "Space Mono", monospace;
}

.block-info {
  align-self: flex-start;
  margin-left: 100px;
  width: 80%;
  min-height: 100px;
  background: rgb(59, 39, 71);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(200, 210, 230, 0.75);
  font-family: "Cormorant Garamond", serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.15em;
  padding: 20px 24px;
}

.block-foto {
  width: 100%;
  height: 220px;
  background: rgb(51, 71, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(220, 230, 210, 0.6);
  font-family: "Cormorant Garamond", serif;
  font-size: 52px;
  font-weight: 300;
}
